/*
* Button mixin
*
* $m_width	integer
* $height	integer
* $f_size	integer
* $type		string
* $shadow 	boolean
*/
@mixin button( $m_width, $height, $f_size, $type, $shadow )
{
	position: relative;
	display: block;
	width: 100%;
	max-width: $m_width + px;
	height: $height + px;
	border-radius: $height + px;
	background-color: #fdd147;
	font: $f_size + px/1 $font_semi_bold;
	color: #292929;
	text-decoration: none;
	transition: .3s;
	
	@if $shadow == true
	{
		-webkit-box-shadow: 0px 0px 38px 0px rgba(253, 209, 71, 1);
		-moz-box-shadow: 0px 0px 38px 0px rgba(253, 209, 71, 1);
		box-shadow: 0px 0px 38px 0px rgba(253, 209, 71, 1);
	}

	&:before, &:after {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
		display: block;
	}

	&:before {
		right: 5px;
		width: ($height - 10) + px;
		height: ($height - 10) + px;
		border-radius: ($height - 10) + px;
		background-color: #ffdf79;
	}

	&:after {
		background: url($path_to_images + 'sprite.png') no-repeat;
	}

	@if $type == 'arrow-left'
	{
		&:after {
			right: 18px;
			width: 15px;
			height: 13px;
			background-position: -253px -26px;
		}
	}

	@if $type == 'arrow-right'
	{
		&:after {
			right: 18px;
			width: 14px;
			height: 6px;
			background-position: -180px -1px;
		}
	}

	@if $type == 'arrow-bottom'
	{
		&:after {
			right: 22px;
			width: 6px;
			height: 13px;
			background-position: -184px -9px;
		}
	}

	@if $type == 'phone'
	{
		&:after {
			right: 18px;
			width: 12px;
			height: 11px;
			background-position: -198px -1px;
		}
	}

	@if $type == 'plane'
	{
		&:after {
			right: 19px;
			width: 14px;
			height: 14px;
			background-position: -269px -1px;
		}
	}

	&:hover {
		background-color: rgba(253, 209, 71, 0.8);
	}
}

/*
* More link mixin
*
* $margin	string
* $type 	string
*/
@mixin more( $margin, $type )
{
	position: relative;
	margin: $margin;
	padding: 20px 15px 0 15px;
	display: block;
	text-align: center;
	text-decoration: none;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 2px;
		background: url($path_to_images + 'broken_line_1.png') top center repeat-x;
	}

	span {
		position: relative;
		padding-right: 20px;
		font: 12px/1.3 $font_bold;
		color: #af5be8;
		text-transform: uppercase;

		&:before {
			content: "";
			position: absolute;
			right: 0;
			display: block;
			background: url($path_to_images + 'sprite.png') no-repeat;
		}

		@if $type == 'arrow-circle'
		{
			&:before {
				top: 1px;
				width: 12px;
				height: 12px;
				background-position: -285px 0;
			}
		}

		@if $type == 'arrow-right'
		{
			&:before {
				top: 4px;
				width: 13px;
				height: 6px;
				background-position: -203px -26px;
			}
		}
	}
}