.about {
	
	.user-content {

		p {
			line-height: 2;
		}
	}

	.a-preview {
		position: relative;
		margin: 0 auto 80px auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 1920px;

		.ap-right {
			width: 49%;
		}

		.ap-left {
			width: 51%;
		}

		.ap-img {
			display: block;
			width: 100%;
			max-width: 960px;
			border-radius: 0 10px 10px 0;
		}

		.ap-title {
			font: 26px/1.3 $font_semi_bold;
			color: #292929;

			span {
				font: 46px/1.3 $font_bold;
			}
		}

		.user-content {
			position: relative;
			left: -100px;
			padding: 70px 65px;
			width: 990px;
			height: auto;
			background-color: rgba(253, 200, 71, 0.1);
			border-radius: 10px;
		}
	}

	.a-progress {
		position: relative;
		margin-bottom: 50px;
		padding: 0 15px;
		font-size: 0;
		text-align: center;

		&:before {
			content: "";
			position: absolute;
			top: -105px;
			left: 0;
			bottom: 0;
			margin: auto;
			display: block;
			width: 100%;
			height: 2px;
			background: url($path_to_images + 'broken_line_5.png') 50% 50% repeat-x;
		}

		li {
			display: inline-block;
			vertical-align: top;
			margin-bottom: 30px;

			&:not(:last-child) {
				margin-right: 30px;
			}
		}

		.apr-item {
			position: relative;
			margin-bottom: 20px;
			width: 205px;
			height: 205px;
			border-radius: 205px;
			background: url($path_to_images + 'background_progress_item.png') 0 0 repeat;

			&:before {
				content: "";
				position: absolute;
				top: -5px;
				left: -5px;
				display: block;
				width: 205px;
				height: 205px;
				border: 2px solid #fdd147;
				border-radius: 205px;
			}

			&:after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
				display: block;
				background: url($path_to_images + 'sprite_progress_item.png') no-repeat;
			}

			&.icon-boots {

				&:after {
					width: 70px;
					height: 70px;
					background-position: 0 0;
				}
			}

			&.icon-location {

				&:after {
					width: 70px;
					height: 70px;
					background-position: -77px 0;
				}
			}

			&.icon-sofa {

				&:after {
					width: 70px;
					height: 70px;
					background-position: -154px 0;
				}
			}

			&.icon-direction {

				&:after {
					width: 50px;
					height: 70px;
					background-position: -230px 0;
				}
			}

			&.icon-people {

				&:after {
					width: 70px;
					height: 45px;
					background-position: -287px 0;
				}
			}
		}

		.apr-title {
			max-width: 205px;
			word-wrap: break-word;
			font: 14px/1.5 $font_extra_bold;
			color: #292929;
			text-transform: uppercase;
		}
	}

	.a-callback {
		margin-bottom: 80px;
		padding: 55px 0;
		background: url($path_to_images + 'background_about_callback.png') top center no-repeat,
					url($path_to_images + 'background_header_line.png') 0 0 repeat-x;
		color: #fff;
		text-align: center;

		.ac-title {
			margin-bottom: 10px;
			font: 40px/1.3 $font_bold;
		}

		.ac-subtitle {
			margin-bottom: 45px;
			font: 16px/1.3 $font_medium;
		}

		.ac-before-phone {
			margin-bottom: 5px;
			font: 20px/1.3 $font_medium;
		}

		.ac-phone {
			margin-bottom: 35px;
			display: block;
			font-size: 50px;
			line-height: 1.3;
			color: #fdd147;
			text-decoration: none;
			transition: .3s;

			&:hover {
				color: #fff;
			}
		}

		input, button {
			margin-bottom: 30px;
		}

		button {
			@include button( 360, 50, 14, 'phone', true );

			padding-left: 30px;
			text-align: left;
		}

		.ac-after-phone {
			margin-bottom: 25px;
			font: 20px/1.3 $font_medium;
		}

		.ac-after-fields {
			font: 12px/1.3 $font_medium;
		}
	}
}

// Media
@media (max-width: 1739px) {

	.about {
	
		.a-preview {

			.ap-right, .ap-left {
				width: 50%;
			}

			.user-content {
				left: auto;
				padding: 25px 50px;
				width: 100%;
			}
		}
	}
}
@media (max-width: 1199px) {

	.about {
	
		.a-preview {
			flex-wrap: wrap;
			align-items: flex-start;

			.ap-right, .ap-left {
				width: 100%;
			}

			.ap-title {
				text-align: center;
			}

			.ap-img {
				max-width: 100%;
				border-radius: 0;
			}

			.user-content {
				padding: 25px;
				border-radius: 0;
			}
		}
	}
}
@media (max-width: 1177px) {

	.about {

		.a-progress {

			li {

				&:last-child {
					margin-right: 30px;
				}
			}
		}
	}
}
@media (max-width: 992px) {

	.about {

		.a-callback {
			padding: 35px 0;

			input, button {
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 20px;
			}

			input {
				max-width: 360px;
			}
		}
	}
}
@media (max-width: 566px) {

	.about {

		.a-callback {

			.ac-title {
				font-size: 32px;
			}

			.ac-phone {
				font-size: 30px;
			}
		}
	}
}
@media (max-width: 450px) {

	.about {

		.a-progress {

			li {

				&:not(:last-child) {
					margin-right: 0;
				}

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
}