.certificates {
	margin-bottom: 50px;
}

.c-item {
	margin-bottom: 30px;
	display: block;
	text-decoration: none;

	img {
		margin-bottom: 20px;
		display: block;
		width: 100%;
		border: 2px solid #af5be8;
		border-radius: 10px;
		transition: .3s;

		&:hover {
			opacity: 0.8;
		}
	}

	.c-title {
		font: 18px/1.3 $font_bold;
		color: #292929;
		text-align: center;
	}
}