.page-contacts-box {
	position: relative;
	margin-left: 10px;
	height: 300px;
	border-radius: 10px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		opacity: 0.7;
		border-radius: 10px;
		background: url($path_to_images + 'background_progress_item.png');
	}

	&:after {
		content: "";
		position: absolute;
		top: -10px;
		left: -10px;
		display: block;
		width: 100%;
		height: 100%;
		background-color: transparent;
		border: 2px solid #fdd147;
		border-radius: 10px;
	}

	&.phones {
		background-image: url($path_to_images + 'bg_contacts_box_phones.jpg');

		.cb-icon {
			
			&:before {
				width: 14px;
				height: 14px;
				background-position: -211px -1px;
			}
		}

		.cb-container {
			padding: 0 40px;
			text-align: right;
		}

		.cb-phone {
			position: relative;
			z-index: 1;
			margin-bottom: 10px;
			display: block;
			font-size: 50px;
			line-height: 1;
			color: #fdd147;
			text-decoration: none;
			transition: .3s;

			&:hover {
				color: #fff;
			}
		}

		.cb-callback {
			position: relative;
			z-index: 2;
			font-size: 20px;
			color: #e9e9e9;

			&:hover {
				text-decoration: none;
			}
		}
	}

	&.address {
		background-image: url($path_to_images + 'bg_contacts_box_address.jpg');

		.cb-container {
			padding: 0 30px;
		}

		.cb-address {
			position: relative;
			z-index: 3;
			
			li {
				
				&:first-child {
					margin-bottom: 20px;
				}
			}

			a {
				font: 23px/1.3 $font_medium;
				color: #fff;
			}

			span {
				display: block;
				font: 20px/1.3 $font_bold;
				color: #fdd147;
			}
		}

		.cb-icon {
			
			&:before {
				width: 10px;
				height: 15px;
				background-position: -25px 0px;
			}
		}
	}

	.cb-container {
		position: absolute;
		left: 0;
		bottom: 40px;
		width: 100%;
	}

	.cb-icon {
		position: absolute;
		top: 20px;
		left: 20px;
		width: 60px;
		height: 60px;
		border: 2px solid #fdd147;
		border-radius: 60px;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			display: block;
			background: url($path_to_images + 'sprite.png') no-repeat;
		}
	}
}

// Media
@media (min-width: 992px) and (max-width: 1199px) {

	.page-contacts-box {

		&.phones {

			.cb-phone {
				font-size: 40px;
			}
		}

		&.address {

			.cb-address {

				li {
					
					a {
						font-size: 18px;
					}
				}
			}
		}
	}
}
@media (max-width: 992px) {

	.page-contacts-box {

		&.phones {
			margin-bottom: 30px;
		}
	}
}
@media (max-width: 767px) {

	.page-contacts-box {

		&.phones {

			.cb-phone {
				font-size: 40px;
			}
		}

		&.address {

			.cb-address {

				li {
					
					a {
						font-size: 18px;
					}
				}
			}
		}
	}
}
@media (max-width: 576px) {

	.page-contacts-box {

		&.phones {

			.cb-container {
				padding: 0 25px;
			}

			.cb-phone {
				font-size: 24px;
			}

			.cb-callback {
				font-size: 12px;
			}
		}

		&.address {

			.cb-container {
				padding: 0 25px;
			}

			.cb-address {

				li {
					
					a {
						font-size: 16px;
					}
				}
			}
		}
	}
}