.error-404 {
	margin-top: -20px;
	padding: 100px 15px 0 15px;
	height: 100vh;
	min-height: 800px;
	max-height: 960px;
	background: url($path_to_images + 'bg_error_404.png') top center no-repeat;

	.e-content {
		margin: 0 auto;
		max-width: 1000px;
		text-align: center;
	}

	.e-img {
		margin: 0 auto 110px auto;
		display: block;
		max-width: 100%;
	}

	.e-title {
		font: 50px/1.3 $font_black;
		color: #af5be8;
		text-transform: uppercase;
	}

	.e-description {
		margin-bottom: 35px;
		font: 20px/1.3 $font_medium;
		color: #292929;
	}

	.e-back {
		@include button( 280, 50, 14, 'arrow-left', true );

		margin: 0 auto;
		padding: 18px 0 0 30px;
		text-align: left;
	}
}

// Media
@media (max-width: 479px) {

	.error-404 {
		padding-top: 30px;
		padding-bottom: 30px;
		height: auto;
		min-height: 100%;
		max-height: 100%;

		.e-img {
			margin-bottom: 50px;
		}

		.e-title {
			font-size: 32px;
		}

		.e-description {
			font-size: 16px;
		}
	}
}