.gallery-title {
	position: relative;
	margin-bottom: 15px;
	padding: 25px 0 20px 0;
	min-height: 75px;
	border-radius: 10px;
	background: url($path_to_images + 'background_progress_item.png') 0 0 repeat;
	color: #fff;
	text-align: center;

	&:before {
		content: "";
		position: absolute;
		left: -5px;
		bottom: -5px;
		display: block;
		width: 100%;
		height: 100%;
		border: 2px solid #fdd147;
		border-radius: 10px;
	}

	.gt-type {
		position: relative;
		margin-bottom: 5px;
		font: 12px/1 $font_medium;
	}

	.gt-name {
		position: relative;
		font: 20px/1.3 $font_extra_bold;
		text-transform: uppercase;
	}
}

.gallery-back {
	margin-bottom: 45px;
	display: block;
	font: 12px/1.3 $font_bold;
	color: #2a2a2a;
	text-align: center;
	text-decoration: none;
	transition: .3s;

	span {
		position: relative;
		padding-left: 25px;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 13px;
			height: 11px;
			background: url($path_to_images + 'sprite.png') -171px -25px no-repeat;
		}
	}

	&:hover {
		color: #fdd147;
	}
}

.gallery-items {
	margin-bottom: 55px;
	font-size: 0;

	li {
		padding: 15px;
		display: inline-block;
		vertical-align: top;
		width: (100% / 3);
		border-right: 2px solid #fdd147;
		border-bottom: 2px solid #fdd147;

		&:first-child {
			padding-left: 0;
		}

		&:first-child, &:nth-child(2), &:nth-child(3) {
			padding-top: 0;
		}

		&:nth-child(3n+3) {
			padding-right: 0;
			border-right: none;
		}

		&:nth-child(3n+4) {
			padding-left: 0;
		}

		&:nth-last-child(1), &:nth-last-child(2), &:nth-last-child(3) {
			padding-bottom: 0;
			border-bottom: none;
		}
	}

	a {
		position: relative;
		width: 100%;
		height: 360px;
		border-radius: 3px;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: cover;
		background-color: #af5be8;
		text-decoration: none;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 100%;
			border-radius: 3px;
			background-color: rgba(0, 0, 0, 0);
			transition: .3s;
		}

		.gi-name {
			position: relative;
			display: block;
			max-width: 240px;
			font-family: $font_bold;
			line-height: 1.5;
			color: #fff;
			text-align: center;
			text-transform: uppercase;
			transition: .3s;
			opacity: 0;
		}

		.gi-type {
			position: absolute;
			top: 10px;
			left: 10px;
			display: block;

			&:before {
				content: "";
				position: absolute;
				right: 0;
				bottom: 0;
				margin: auto;
				display: block;
				width: 10px;
				height: 10px;
			}
		}

		&.photo {
			display: flex;
			align-items: center;
			justify-content: center;

			.gi-type {
				width: 20px;
				height: 20px;
				border-radius: 20px;
				background-color: rgba(0, 0, 0, 0.6);

				&:before {
					top: 0;
					left: 0;
					border: 2px solid #fff;
					border-radius: 10px;
				}
			}

			.gi-name {
				font-size: 16px;
			}
		}

		&.video {
			display: block;

			.gi-type {
				width: 25px;
				height: 25px;
				border-radius: 25px;
				background-color: rgba(0, 0, 0, 0.5);

				&:before {
					top: -1px;
					left: 7px;
					border: 5.5px solid transparent;
					border-left: 5.5px solid #fff;
				}
			}

			.gi-name {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 30px;
				margin: auto;
				font-size: 14px;
			}
		}

		&:hover {

			&:before {
				background-color: rgba(0, 0, 0, 0.6);
			}

			.gi-name {
				opacity: 1;
			}

			&.photo {

				.gi-type {
					top: 15px;
					left: 15px;
					width: 12px;
					height: 12px;
					border-radius: 0;
					background-color: rgba(0, 0, 0, 0);
					background: url($path_to_images + 'sprite.png') -188px -26px no-repeat;

					&:before {
						display: none;
					}
				}
			}

			&.video {

				.gi-type {
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					margin: auto;
					width: 70px;
					height: 70px;
					border-radius: 70px;
					background-color: #fdd147;

					&:before {
						width: 15px;
						height: 15px;
						border: 9px solid transparent;
						border-left: 9px solid #af5be8;
					}

					&:after {
						content: "";
						position: absolute;
						top: -4px;
						left: -4px;
						width: 70px;
						height: 70px;
						border: 2px solid #fff;
						border-radius: 70px;
						background-color: transparent;
					}
				}
			}
		}
	}
}

.btn-items-more {

	@include more( 50px 0 20px 0, 'arrow-right' );
}

// Media
@media (min-width: 992px) and (max-width: 1199px) {

	.gallery-items {

		a {
			height: 285px;
		}
	}
}
@media (min-width: 767px) and (max-width: 991px) {

	.gallery-items {

		a {
			height: 190px;

			&.photo {

				.gi-name {
					max-width: 170px;
					font-size: 14px;
				}
			}

			&.video {

				&:hover {

					.gi-type {
						top: -25px;
						width: 40px;
						height: 40px;
						border-radius: 40px;

						&:before {
							width: 10px;
							height: 10px;
							border: 8px solid transparent;
							border-left: 8px solid #af5be8;
						}

						&:after {
							width: 40px;
							height: 40px;
							border-radius: 40px;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 767px) {

	.gallery-items {

		li {
			padding: 0;
			width: 100%;
			border: none;

			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}
	}
}
@media (max-width: 479px) {

	.gallery-items {

		a {
			height: 285px;
		}
	}

	.btn-items-more {

		span {
			padding-right: 0;

			&:before {
				display: none;
			}
		}
	}
}