.partners {
	margin-bottom: 45px;

	.page-title {
		margin-bottom: 15px;
	}

	.page-description {
		margin-bottom: 45px;
	}
}

.p-item {
	margin-bottom: 30px;

	&:hover {

		.pi-image {
			border-color: #fff;
			-webkit-box-shadow: 0px 0px 35px 0px rgba(176, 91, 232, 0.3);
			-moz-box-shadow: 0px 0px 35px 0px rgba(176, 91, 232, 0.3);
			box-shadow: 0px 0px 35px 0px rgba(176, 91, 232, 0.3);
		}

		.pi-name {
			color: #af5be8;
		}
	}

	.pi-image {
		position: relative;
		margin-bottom: 10px;
		display: block;
		width: 100%;
		height: 155px;
		border: 2px solid #fdd147;
		border-radius: 5px;
		transition: .3s;

		img {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			display: block;
			max-width: 124px;
			max-height: 100px;
		}
	}

	.pi-name {
		font: 14px/1.3 $font_bold;
		color: #292929;
		text-align: center;
		text-decoration: underline;
		transition: .3s;
	}
}