.price {

	.page-title {
		margin-bottom: 15px;
	}

	.table-responsive {
		margin-bottom: 20px;
	}

	form {
		position: relative;
		margin-bottom: 50px;
		padding-top: 50px;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 2px;
			background: url($path_to_images + 'broken_line_1.png') 0 0 repeat-x;
		}

		input {
			margin-bottom: 30px;
			border-color: #292929;
			color: #292929;

			&::-webkit-input-placeholder {
				color: #292929;
			}

			&::-moz-placeholder {
				color: #292929;
			}

			&:-ms-input-placeholder {
				color: #292929;
			}

			&:-moz-placeholder {
				color: #292929;
			}
		}

		button {

			@include button( 360, 50, 14, 'phone', true );

			margin-bottom: 30px;
			padding-left: 30px;
			text-align: left;
		}
	}
}

.p-table {
	margin-bottom: 10px;
	width: 100%;
	border: 2px solid #ebebeb;
	border-spacing: 0;
	border-collapse: separate;
	border-radius: 10px;

	tr {

		&:not(:last-child) {

			td {
				border-bottom: 2px solid #ebebeb;
			}
		}

		&:first-child {

			td {

				&:last-child {
					border-radius: 0 10px 0 0;
				}
			}
		}

		&:last-child {

			td {
				
				&:first-child {
					border-radius: 0 0 0 10px;
				}

				&:last-child {
					border-radius: 0 0 10px 0;
				}
			}
		}

		&:nth-child(even) {
			background-color: #af5be8;

			td {
				color: #fff;
			}     
		}

		&:nth-child(odd) {

			td {

				&:nth-last-child(2), &:last-child {
					background-color: #fdd147;
				}
			}
		}
	}

	td {
		padding: 20px;
		font-size: 13px;
		line-height: 1.3;
		color: #292929;

		&:not(:last-child) {
			border-right: 2px solid #ebebeb;
		}

		&:nth-last-child(2), &:last-child {
			text-align: center;
		}

		span {
			font: 20px/1 $font_semi_bold;
		}
	}
}

.p-notice {
	margin-bottom: 75px;
	font: 20px/1.3 $font_medium;
	color: #af5be8;
	text-align: center;
}

.p-form-text {
	margin-bottom: 35px;
	font-size: 16px;
	line-height: 1.5;
	text-align: center;
}

// Media
@media (max-width: 992px) {

	.price {

		form {

			input, button {
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 20px;
			}

			input {
				max-width: 360px;
			}
		}
	}
}