.reviews {

	.page-title {
		margin-bottom: 15px;
	}

	.page-description {
		margin-bottom: 45px;
	}

	form {
		position: relative;
		margin: 50px 0 80px 0;
		padding-top: 50px;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 2px;
			background: url($path_to_images + 'broken_line_1.png') top center repeat-x;
		}

		.page-title {
			margin-bottom: 30px;
		}

		input, textarea {
			margin-bottom: 20px;
			display: block;
			width: 100%;
			border: 2px solid #b2b2b2;
			background-color: transparent;
			font: 14px/1 $font_medium;
			color: #292929;

			&::-webkit-input-placeholder {
				color: #b2b2b2;
			}

			&::-moz-placeholder {
				color: #b2b2b2;
			}

			&:-ms-input-placeholder {
				color: #b2b2b2;
			}

			&:-moz-placeholder {
				color: #b2b2b2;
			}

			&:focus {
				border-color: #b160e9;

				&::-webkit-input-placeholder {
					color: #292929;
				}

				&::-moz-placeholder {
					color: #292929;
				}

				&:-ms-input-placeholder {
					color: #292929;
				}

				&:-moz-placeholder {
					color: #292929;
				}
			}
		}

		input {
			padding: 0 20px;
			height: 50px;
			border-radius: 50px;
		}

		textarea {
			resize: none;
			padding: 20px;
			height: 240px;
			border-radius: 10px;
			line-height: 1.3;
		}

		button {
			@include button( 280, 50, 14, 'phone', false );

			margin: 0 auto;
			padding-left: 30px;
			text-align: left;
		}
	}
}

.review-item-container {
	position: relative;
	margin-bottom: 35px;
	height: 420px;
}

.review-item {
	position: relative;
	padding: 45px 15px 50px 15px;
	border-radius: 10px;
	background-color: #fbfbfb;
	transition: .3s;

	&:before {
		content: "";
		position: absolute;
		top: -5px;
		left: -5px;
		display: block;
		width: 100%;
		height: 100%;
		background-color: transparent;
		border: 2px solid #fdd147;
		border-radius: 10px;
		transition: .3s;
	}

	&:hover {
		background-color: #fff;

		&:before {
			border-color: #af5be8;
		}
	}

	&.show {
		position: absolute;
		z-index: 1;
		width: 100%;
		background-color: #fff;

		&:before {
			border-color: #af5be8;
		}

		.ri-text {
			height: auto;
		}
	}

	.ri-name, .ri-date, .ri-text, .ri-more {
		position: relative;
	}

	.ri-name, .ri-more {
		color: #af5be8;
		text-align: center;
		text-transform: uppercase;
	}

	.ri-name {
		margin-bottom: 5px;
		font: 16px/1.3 $font_extra_bold;
	}

	.ri-date {
		margin-bottom: 20px;
		font: 12px/1.3 $font_semi_bold_italic;
		color: #a4a4a4;
		text-align: center;
	}

	.ri-text {
		margin-bottom: 15px;
		overflow: hidden;
		height: 235px;
		font: 12px/1.8 $font_medium;
		color: #292929;
	}

	.ri-more {
		display: block;
		font: 12px/1.3 $font_bold;

		&:hover {
			text-decoration: none;
		}
	}
}