.services {

	.s-title {
		position: relative;
		margin-bottom: 35px;
		width: 100%;
		height: 250px;
		border-radius: 10px;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			height: 100%;
			width: 100%;
			border-radius: 10px;
			background: url($path_to_images + 'background_service_item.png') 0 0 no-repeat;
			background-size: cover;
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			display: block;
			max-width: 100%;
		}
	}

	.s-description {
		margin: 0 35px 25px 35px;
		font: 18px/1.5 $font_medium;
		color: #2a2a2a;
	}

	.s-more {
		position: relative;
		margin-bottom: 60px;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			margin: auto;
			display: block;
			width: 100%;
			height: 2px;
			background: url($path_to_images + 'broken_line_4.png') top center repeat-x;
		}

		a {
			@include button( 285, 50, 14, 'arrow-right', true );

			margin: 0 auto;
			padding: 18px 0 0 30px;
		}
	}
}

// Media
@media (max-width: 576px){

	.services {

		.s-description {
			margin-left: 15px;
			margin-right: 15px;
			font-size: 14px;
		}

		.s-more {
			margin-bottom: 40px;
		}
	}
}