.stock {

	.pagination {
		margin-bottom: 80px;
	}
}

.s-items {

	li {
		position: relative;
		margin-bottom: 50px;
		padding: 23px 0;
		min-height: 280px;

		&.si-left-direction {

			img, &:before {
				left: -5px;
			}

			.si-content {
				border-radius: 0 10px 10px 0;

				&:before {
					border-radius: 0 10px 10px 0;
				}
			}
		}

		&.si-right-direction {

			img, &:before {
				right: -5px;
			}

			.si-content {
				border-radius: 10px 0 0 10px;

				&:before {
					border-radius: 10px 0 0 10px;
				}
			}
		}

		img, &:before {
			position: absolute;
			z-index: 1;
			top: 0;
			display: block;
			width: 278px;
			height: 100%;
			border-radius: 3px;
		}

		&:before {
			content: "";
			background-color: #fdd147;
		}
	}

	.si-content {
		position: relative;
		padding: 27px 30px;
		background-color: #f6f6f6;

		&:before {
			content: "";
			position: absolute;
			top: -5px;
			left: -5px;
			display: block;
			width: 100%;
			height: 100%;
			border: 2px solid #af5be8;
		}
	}

	.si-title {
		margin-bottom: 20px;
		font: 20px/1.3 $font_bold;
		color: #292929;
	}

	.si-percent {
		padding-right: 10px;
		color: #ff0030;
	}

	.si-date {
		font-family: $font_medium_italic;
		font-size: 12px;
		color: #969696;
	}

	.si-annotation {
		min-height: 130px;
		font: 12px/1.5 $font_medium;
		color: #000;
	}

	.si-more {
		font: 12px/1 $font_bold;
		color: #af5be8;
		text-transform: uppercase;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}

// Media
@media (max-width: 992px){

	.s-items {

		li {
			padding: 0;
			margin-bottom: 30px;
			min-height: auto;

			img, &:before {
				display: none;
			}

			&.si-left-direction, &.si-right-direction {

				.si-content {
					border-radius: 10px;

					&:before {
						border-radius: 10px;
					}
				}
			}
		}

		.si-annotation {
			min-height: auto;
			margin-bottom: 15px;
		}
	}
}