.footer {
	flex: 0 0 auto;
	position: relative;

	// Social
	.social {
		margin-bottom: 55px;
	}

	// Section bottom
	@import "components/section_bottom";

	// Contacts map
	@import "components/footer_map";

	// Logo
	@import "components/footer_logo";

	// Menu
	@import "components/footer_menu";

	// Contacts
	@import "components/footer_contacts";

	// Callback box
	@import "components/footer_callback_box";

	// Sitemap
	@import "components/footer_sitemap";

	// Subscribe form
	@import "components/footer_subscribe";

	// Copyright
	@import "components/copyright";

	// Atelier-Soft
	@import "components/atelier_soft";
}