.atelier-soft {
	position: relative;
	padding-right: 95px;
	display: block;
	font: 8px/1.3 $font_semi_bold;
	letter-spacing: 1px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;

	&:before {
		content: "";
		position: absolute;
		top: -45px;
		right: -25px;
		display: block;
		width: 128px;
		height: 87px;
		background: url($path_to_images + 'atelier_soft_logo.png') 0 0 no-repeat;
	}
}

// Media
@media (max-width: 767px) {

	.atelier-soft {
		float: none;
		margin: 0 auto;
		width: 200px;
	}
}