@charset "utf-8";

.breadcrumbs {
	margin-bottom: 40px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	
	li {
		display: inline;
		font: 12px/1.3 $font_medium;
		color: #2a2a2a;

		& + li {

			&:before {
				content: "\2022";
				margin: 0 5px;
			}
		}
	}

	a {
		color: #828282;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}