.btn-more-info {
	position: absolute;
	top: 15px;
	left: 0;
	right: 0;
	margin: auto;
	padding-left: 50px;
	max-width: 315px;
	font: 10px/1 $font_semi_bold;
	letter-spacing: 6px;
	color: #e9e9e9;
	text-decoration: none;
	text-transform: uppercase;

	&:before {
		content: "";
		position: absolute;
		top: -4px;
		left: 8px;
		z-index: 999;
		display: block;
		width: 6px;
		height: 14px;
		background: url($path_to_images + 'sprite.png') -184px -8px no-repeat;
	}

	span {

		&:before, &:after {
			content: "";
			position: absolute;
			display: block;
			width: 30px;
			height: 30px;
			border-radius: 30px;
		}

		&:before {
			top: -10px;
			left: 0;
			background-color: #fdd147;
			transition: .3s;
		}

		&:after {
			top: -13px;
			left: -3px;
			border: 2px solid #fff;
			background-color: transparent;
		}
	}

	&:hover {

		span {

			&:before {
				background-color: rgba(253, 209, 71, 0.6);
			}
		}
	}
}