.sitemap {
	position: relative;
	padding-left: 27px;
	display: block;
	font: 10px/1 $font_semi_bold;
	letter-spacing: 2px;
	color: #fff;
	text-decoration: underline;
	text-transform: uppercase;

	&:before {
		content: "";
		position: absolute;
		top: -5px;
		left: 0;
		display: block;
		width: 17px;
		height: 15px;
		background: url($path_to_images + 'sprite.png') -248px -1px no-repeat;
	}

	&:hover {
		text-decoration: none;
	}
}

// Media
@media (max-width: 767px) {

	.sitemap {
		margin: 0 auto 30px auto;
		width: 130px;
	}
}