.contacts-map {
	position: relative;
	padding-top: 60px;
	min-height: 500px;
	background-color: transparent;
	-webkit-box-shadow: inset 0px 100px 140px 0px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: inset 0px 100px 140px 0px rgba(0, 0, 0, 0.4);
	box-shadow: inset 0px 100px 140px 0px rgba(0, 0, 0, 0.4);

	.cm-title {
		margin-bottom: 25px;
		font: 40px/1.3 $font_bold;
		color: #fff;
		text-align: center;
		text-transform: uppercase;
		text-shadow: 3px 4px 0px rgba(253, 209, 71, 0.2);
	}

	.cm-addresses {
		font-size: 0;
		text-align: center;

		li {
			display: inline-block;
			vertical-align: top;

			&:first-child {
				margin-right: 10px;
			}
		}

		a {
			padding: 9px 30px;
			min-height: 35px;
			display: block;
			border-radius: 35px;
			background-color: #fdd147;
			font: 14px/1.3 $font_semi_bold;
			color: #292929;
			text-decoration: none;
			transition: .3s;

			&:hover {
				background-color: rgba(253, 209, 71, 0.7);
			}
		}

		span {
			font-family: $font_extra_bold;
		}
	}

	#map {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -9999;
		width: 100%;
		height: 100%;
	}
}

// Media
@media (max-width: 992px) {

	.contacts-map {
		padding: 15px 20px 0 20px;

		.cm-title {
			margin-bottom: 10px;
		}

		.cm-addresses {

			li {
				width: 100%;

				&:first-child {
					margin: 0 0 15px 0;
				}
			}
		}
	}
}
@media (max-width: 479px) {

	.contacts-map {
		min-height: 250px;

		.cm-title {
			font-size: 32px;
		}

		.cm-addresses {

			a {
				font-size: 12px;
			}
		}
	}
}