#callback, #order {
	position: relative;
	margin: 55px auto 0 auto;
	padding: 50px 30px;
	max-width: 390px;
	background-color: #fff;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 38px 0px rgba(253, 209, 71, 1);
	-moz-box-shadow: 0px 0px 38px 0px rgba(253, 209, 71, 1);
	box-shadow: 0px 0px 38px 0px rgba(253, 209, 71, 1);

	&:before {
		content: "";
		position: absolute;
		top: -6px;
		left: -6px;
		display: block;
		width: 100%;
		height: 100%;
		border: 2px solid #fdd147;
		border-radius: 10px;
	}

	.title {
		margin-bottom: 25px;
		font: 20px/1.3 $font_bold;
		color: #292929;
		text-transform: uppercase;
		text-align: center;
	} 

	input {
		position: relative;
		padding: 0 20px;
		display: block;
		width: 100%;
		height: 50px;
		border: 2px solid #eaeaea;
		border-radius: 50px;
		background-color: transparent;
		font: 14px/1 $font_semi_bold;
		color: #808080;

		&::-webkit-input-placeholder {
			color: #808080;
		}

		&::-moz-placeholder {
			color: #808080;
		}

		&:-ms-input-placeholder {
			color: #808080;
		}

		&:-moz-placeholder {
			color: #808080;
		}

		&:focus {
			color: #292929;
			border-color: #292929;

			&::-webkit-input-placeholder {
				color: #292929;
			}

			&::-moz-placeholder {
				color: #292929;
			}

			&:-ms-input-placeholder {
				color: #292929;
			}

			&:-moz-placeholder {
				color: #292929;
			}
		}

		&[name="name"], &[name="user_name"] {
			margin-bottom: 10px;
		}

		&[name="phone"], &[name="user_phone"] {
			margin-bottom: 30px;
		}
	}

	button[type="submit"] {
		margin: 0 auto;
		padding-left: 30px;
		text-align: left;
	}
}

#callback {

	button[type="submit"] {
		@include button( 240, 50, 14, 'phone', true );
	}
}

#order {

	button[type="submit"] {
		@include button( 160, 50, 14, 'phone', true );
	}
}