.slider {
	position: relative;
	height: 500px;

	.item {
		position: absolute;

		&.current {
			-webkit-box-shadow: 0px 0px 38px 0px rgba(107, 55, 139, 0.26);
			-moz-box-shadow: 0px 0px 38px 0px rgba(107, 55, 139, 0.26);
			box-shadow: 0px 0px 38px 0px rgba(107, 55, 139, 0.26);
		}

		&.before {
			
			&:before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.4);
			}
		}

		img {
			display: block;
			width: 100%;
		}
	}

	.slide-next, .slide-autoplay {
		left: 0;
	}

	.slide-next {
		bottom: 80px;
	}

	.slide-autoplay {
		bottom: 140px;
	}
}

// Media
@media (max-width: 1799px) {

	.slider {
		zoom: 0.9;
	}
}
@media (max-width: 1649px) {

	.slider {
		zoom: 1;
		margin: 0 auto;
		max-width: 1080px;
	}
}
@media (max-width: 1199px) {

	.slider {
		zoom: 0.8;
	}
}
@media (max-width: 992px) {

	.slider {
		zoom: 0.6;
	}
}
@media (max-width: 699px) {

	.slider {
		display: none;
	}
}