&.other {

	.phone-box {
		margin-top: 45px;
		text-align: right;

		.phone {
			font-size: 29px;
		}
	}
}

.phone-box {

	&.main {
		float: right;
		margin-right: 50px;
	}

	.phone {
		margin-bottom: 8px;
		display: block;
		font-size: 30px;
		line-height: 1;
		color: #fdd147;
		text-decoration: none;
		transition: .3s;

		&:hover {
			color: #fff;
		}
	}

	.callback {
		display: block;
		font-size: 12px;
		color: #e9e9e9;
		text-align: right;

		&:hover {
			text-decoration: none;
		}
	}
}

// Media
@media (max-width: 1649px) {

	.phone-box {

		&.main {
			float: none;
			margin-right: 0;
			display: inline-block;
			vertical-align: top;
		}
	}
}
@media (max-width: 1199px) {

	&.other {

		.phone-box {

			.phone {
				font-size: 24px;
			}
		}
	}
}
@media (max-width: 767px) {

	&.other {

		.phone-box {
			margin-top: 30px;
			display: block;
			text-align: center;

			.phone, .callback {
				text-align: center;
			}
		}
	}
}
@media (max-width: 699px) {

	.phone-box {
		display: block;
		text-align: center;

		.callback {
			text-align: center;
		}
	}
}