// Header container
.h-container {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	max-width: 1920px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

// Header container top
.hc-top {
	flex: 0 0 auto;
}

// Header container middle
.hc-middle {
	flex: 1 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

// Header container middle left
.hcm-left {
	max-width: 595px;

	.title {
		margin-bottom: 30px;
		font: 54px/1.3 $font_extra_bold;
		color: #fff;
		text-transform: uppercase;
	}

	.description {
		margin-bottom: 25px;
		padding-left: 35px;
		line-height: 1.5;
		color: #fff;
	}

	.btn-consultation {
		margin-left: 35px;
		padding: 19px 0 0 30px;
		text-align: left;

		@include button(293, 50, 14, 'arrow-right', true );
	}
}

// Header container middle right
.hcm-right {
	width: 100%;
	max-width: 1080px;

	.contacts-box {
		display: flex;
		justify-content: space-between;
		margin-left: auto;
		margin-bottom: 25px;
		max-width: 960px;
	}
}

// Header container bottom
.hc-bottom {
	flex: 0 0 auto;
	position: relative;
	height: 85px;
}

// Media
@media (max-width: 1799px) {

	.hcm-right {
		max-width: 970px;
		
		.contacts-box {
			max-width: 865px;
		}
	}
}
@media (max-width: 1649px) {

	.hc-top {

		.f-left, .f-right { 
			float: none;
			font-size: 0;
			text-align: center;
		}

		.f-right {
			margin-bottom: 35px;
		}
	}

	.hc-middle {
		flex-wrap: wrap-reverse;
		align-items: flex-start;
	}

	.hcm-left {
		margin-bottom: 35px;
		width: 100%;
		max-width: 100%;
		text-align: center;

		.description {
			padding-left: 0;
		}

		.btn-consultation {
			margin: 0 auto;
		}
	}

	.hcm-right {
		margin-bottom: 35px;
		max-width: 100%;

		.contacts-box {
			margin: 0 auto 35px;
			max-width: 675px;

			.address {

				li {
					font-size: 14px;
				}
			}

			.social {
				margin-right: 25px;
			}
		}
	}
}
@media (max-width: 699px) {

	.hcm-left {

		.title {
			margin-bottom: 25px;
			font-size: 32px;
		}
	}

	.hcm-right {
		margin-bottom: 0;

		.contacts-box {
			flex-wrap: wrap;

			.address {
				margin-bottom: 30px;
				padding-left: 0;
				width: 100%;
				text-align: center;

				&:before {
					display: none;
				}
			}

			.social {
				margin: 0 auto;
				width: 190px;
			}
		}
	}
}