&.main {

	.menu {
		float: left;
	}
}

.menu {
	margin-top: 23px;

	> ul {
		font-size: 0;

		> li {
			position: relative;
			display: inline-block;
			vertical-align: top;
			padding-bottom: 10px;

			&:not(:last-child):not(.sub-menu) {
				margin-right: 30px;
			}

			&:hover {

				ul {
					display: block;
				}

				&.sub-menu {

					> a, > span {

						&:before {
							background-position: 0 -7px;
						}
					}
				}
			}

			&.sub-menu {
				margin-right: 50px;

				> a, > span {
					position: relative;

					&:before {
						content: "";
						position: absolute;
						z-index: 104;
						top: 6px;
						right: -22px;
						display: block;
						width: 9px;
						height: 5px;
						background: url($path_to_images + 'sprite.png') 0 0 no-repeat;
					}

					&:after {
						content: "";
						position: absolute;
						top: -2px;
						right: -28px;
						display: block;
						width: 20px;
						height: 20px;
						border-radius: 20px;
						background-color: #fff;
					}
				}
			}

			> a, > span {
				display: block;
				font: 14px/1 $font_semi_bold;
				text-decoration: none;
				transition: .3s;

				&:hover {
					color: #fdd147;
				}
			}

			> a {
				color: #e9e9e9;
			}

			> span {
				color: #fdd147;
			}

			ul {
				position: absolute;
				top: 25px;
				right: -28px;
				z-index: 1;
				padding: 15px 15px 22px 10px;
				display: none;
				width: 147px;
				border-radius: 10px 0 10px 10px;
				background-color: #fff;
				text-align: center;

				&:before {
					content: "";
					position: absolute;
					z-index: 102;
					top: -6px;
					left: -6px;
					display: block;
					width: 147px;
					height: 100%;
					border: 2px solid #fdd147;
					border-radius: 10px;
					background-color: transparent;
				}

				&:after {
					content: "";
					position: absolute;
					top: -27px;
					right: 0;
					display: block;
					width: 20px;
					height: 27px;
					border-radius: 20px 20px 0 0;
					background-color: #fff;
				}

				li {

					&:not(:last-child) {
						margin-bottom: 10px;
					}
				}

				a, span {
					position: relative;
					z-index: 103;
					display: inline-block;
					vertical-align: top;
					padding-bottom: 3px;
					border-bottom: 2px solid #fff;
					font: 14px/1.3 $font_semi_bold;
					text-decoration: none;

					&:hover {
						border-color: #fdd147;
					}
				}

				a {
					color: #292929;
				}

				span {
					border-color: #fdd147;
				}
			}
		}
	}

	.menu-btn {
		position: relative;
		display: none;
		width: 60px;
		height: 50px;
		border: 1px solid #fff;
		background-color: transparent;
		text-decoration: none;

		span {
			position: absolute;
			left: 0;
			right: 0;
			margin: auto;
			display: block;
			width: 38px;
			height: 5px;
			background: #fff;

			&:first-child {
				top: 10px;
			}

			&:nth-child(2) {
				top: 21px;
			}

			&:last-child {
				bottom: 10px;
			}
		}
	}	
}

// Media
@media (max-width: 1799px) {

	.menu {

		> ul {

			> li {

				&:not(:last-child):not(.sub-menu) {
					margin-right: 20px;
				}

				> a, > span {
					font-size: 13px;
				}

				ul {

					a, span {
						font-size: 13px;
					}
				}
			}
		}
	}
}
@media (max-width: 1649px) {

	&.main {

		.menu {
			float: none;
			display: inline-block;
			vertical-align: top;
		}
	}
}
@media (max-width: 1199px) {

	&.other {

		.menu {

			> ul {

				> li {

					&:not(:last-child):not(.sub-menu) {
						margin-right: 15px;
					}
				}
			}
		}
	}
}
@media (max-width: 992px) {

	&.main {

		.menu {
			margin-bottom: 20px;
		}
	}

	.menu {
		margin-top: 0;

		> ul {
			display: none;
		}

		.menu-btn {
			display: block;
		}
	}

	&.other {

		.menu {
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 30px;
			width: 60px;
		}
	}
}