.section-shoe {
	margin-bottom: 100px;
	padding: 60px 0 39px 0;
	background: url($path_to_images + 'background_header_main.png') top center no-repeat,
				url($path_to_images + 'background_header_line.png') 0 0 repeat-x;

	.title {
		font: 40px/1.5 $font_bold;
		color: #fff;
	}

	.description {
		margin-bottom: 50px;
		font-size: 16px;
		color: #fff;
	}
}

.shoe {
	position: relative;
	width: 100%;
	height: 735px;
	background: url($path_to_images + 'background_shoe.png') top center no-repeat;
	background-size: contain;

	.area {
		position: absolute;
		display: block;
		width: 40px;
		height: 40px;
		border: 2px solid #fff;
		border-radius: 40px;
		cursor: pointer;
		transition: .3s;

		&.first {
			top: 85px;
			right: 510px;

			&:hover {

				~ .first-box {
					opacity: 1;
				}
			}
		}

		&.second {
			top: 85px;
			right: 335px;

			&:hover {

				~ .second-box {
					opacity: 1;
				}
			}
		}

		&.third {
			top: 330px;
			right: 335px;

			&:hover {

				~ .third-box {
					opacity: 1;
				}
			}
		}

		&.fourth {
			top: 250px;
			left: 350px;

			&:hover {

				~ .fourth-box {
					opacity: 1;
				}
			}
		}

		&.fifth {
			left: 305px;
			bottom: 100px;

			&:hover {

				~ .fifth-box {
					opacity: 1;
				}
			}
		}

		&.sixth {
			left: 410px;
			bottom: 230px;

			&:hover {

				~ .sixth-box {
					opacity: 1;
				}
			}
		}

		&.seventh {
			right: 445px;
			bottom: 230px;

			&:hover {

				~ .seventh-box {
					opacity: 1;
				}
			}
		}

		&.eighth {
			right: 305px;
			bottom: 160px;

			&:hover {

				~ .eighth-box {
					opacity: 1;
				}
			}
		}

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			display: block;
			width: 28px;
			height: 28px;
			border-radius: 28px;
			background-color: #fff;
			transition: .3s;
		}

		&:hover {
			border-color: #ffdf79;

			&:before {
				background-color: #ffdf79;
			}
		}
	}

	.first-box, .second-box, .third-box, .fourth-box, .fifth-box, .sixth-box, .seventh-box, .eighth-box {
		position: absolute;
		padding: 20px 10px 0 10px;
		width: 180px;
		border-radius: 3px;
		background-color: #fff;

		.box-title {
			margin-bottom: 10px;
			font: 18px/1.3 $font_bold;
			color: #292929;
		}

		.box-description {
			font-size: 12px;
			line-height: 1.5;
			color: #292929;
		}

		&:before {
			content: "";
			position: absolute;
			display: block;
		}
	}

	.first-box {
		top: 0;
		left: 5px;
		min-height: 260px;
		opacity: 0;
		padding-bottom: 135px;
		transition: .3s;
		
		&:before {
			left: -15px;
			bottom: -60px;
			width: 214px;
			height: 197px;
			background: url($path_to_images + 'shoe/first-box-img.png') 0 0 no-repeat;
			background-size: cover;
		}

		#first-box-line {
			position: absolute;
			top: -50px;
			left: 190px;
			bottom: 0;
			margin: auto;
		}
	}

	.second-box {
		top: 0;
		right: 20px;
		min-height: 224px;
		opacity: 0;
		padding-bottom: 135px;
		transition: .3s;
		
		&:before {
			left: -40px;
			bottom: -10px;
			width: 255px;
			height: 148px;
			background: url($path_to_images + 'shoe/second-box-img.png') 0 0 no-repeat;
			background-size: cover;
		}

		#second-box-line {
			position: absolute;
			top: -12px;
			left: -141px;
			bottom: 0;
			margin: auto;
		}
	}

	.third-box {
		top: 275px;
		right: 20px;
		min-height: 140px;
		opacity: 0;
		padding-bottom: 20px;
		transition: .3s;

		.box-title {
			font-size: 14px;
		}

		#third-box-line {
			position: absolute;
			top: 10px;
			left: -141px;
			bottom: 0;
			margin: auto;
		}
	}

	.fourth-box {
		top: 195px;
		left: 5px;
		min-height: 132px;
		opacity: 0;
		padding-bottom: 20px;
		transition: .3s;

		#fourth-box-line {
			position: absolute;
			top: 18px;
			right: -158px;
			bottom: 0;
			margin: auto;
		}
	}

	.fifth-box {
		left: 5px;
		bottom: 25px;
		min-height: 225px;
		opacity: 0;
		padding-bottom: 95px;
		transition: .3s;
		
		&:before {
			left: -25px;
			bottom: -60px;
			width: 254px;
			height: 160px;
			background: url($path_to_images + 'shoe/fifth-box-img.png') 0 0 no-repeat;
			background-size: cover;
		}

		&:after {
			content: "";
			position: absolute;
			top: 35px;
			right: -112px;
			bottom: 0;
			margin: auto;
			display: block;
			width: 105px;
			height: 2px;
			background-color: #fff;
		}
	}

	.sixth-box {
		left: 5px;
		bottom: 150px;
		min-height: 217px;
		opacity: 0;
		padding-bottom: 110px;
		transition: .3s;
		
		&:before {
			left: -25px;
			bottom: -45px;
			width: 214px;
			height: 154px;
			background: url($path_to_images + 'shoe/sixth-box-img.png') 0 0 no-repeat;
			background-size: cover;
		}

		#sixth-box-line {
			position: absolute;
			top: 15px;
			right: -215px;
			bottom: 0;
			margin: auto;
		}
	}

	.seventh-box {
		right: 20px;
		bottom: 125px;
		min-height: 240px;
		opacity: 0;
		padding-bottom: 115px;
		transition: .3s;
		
		&:before {
			left: -40px;
			bottom: -60px;
			width: 245px;
			height: 155px;
			background: url($path_to_images + 'shoe/seventh-box-img.png') 0 0 no-repeat;
			background-size: cover;
		}

		#seventh-box-line {
			position: absolute;
			top: -8px;
			left: -250px;
			bottom: 0;
			margin: auto;
		}
	}

	.eighth-box {
		right: 5px;
		bottom: 110px;
		min-height: 132px;
		opacity: 0;
		padding-bottom: 20px;
		transition: .3s;

		&:after {
			content: "";
			position: absolute;
			top: -7px;
			left: -111px;
			bottom: 0;
			margin: auto;
			display: block;
			width: 100px;
			height: 2px;
			background-color: #fff;
		}
	}
}

// Media
@media (max-width: 1199px) {

	.section-shoe {
		display: none;
	}
}