.section-products {
	margin-bottom: 100px;

	.products-main {
		margin: 0 auto 20px auto;
		max-width: 1150px;

		> .slick-list.draggable {
			padding-left: 10px;
		}

		.pm-item {
			margin: 10px 13px;
			outline: none;
		}

		.product-item {
			max-width: 360px;
		}
	}

	.pm-controls {
		position: relative;
		height: 50px;

		.slide-prev {
			top: 0;
			left: 10px;
		}

		.slide-next {
			top: 0;
			right: 10px;
		}

		.btn-products-all {

			@include button( 320, 50, 14, 'arrow-right', true );

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			margin: auto;
			padding: 18px 0 0 30px;
		}
	}
}

// Media
@media (max-width: 1199px) {

	.section-products {

		.products-main {
			max-width: 800px;
		}
	}
}
@media (max-width: 767px) {

	.section-products {

		.products-main {
			max-width: 100%;

			.product-item {
				max-width: 100%;
			}
		}

		.pm-controls {

			.slide-prev, .slide-next {
				display: none;
			}
		}
	}
}
@media (max-width: 479px) {

	.section-products {

		.pm-controls {

			.btn-products-all {
				max-width: 100%;
			}
		}
	}
}