.section-photo-gallery {
	position: relative;
	padding-bottom: 100px;
	margin-bottom: 80px;

	&:before {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		display: block;
		width: 100%;
		height: 2px;
		background: url($path_to_images + 'broken_line_1.png') top center repeat-x;
	}

	.section-title {
		margin-bottom: 45px;
	}

	.carousel-container {
		position: relative;

		.slide-prev, .slide-next {
			top: 0;
			bottom: 0;
			margin: auto;
		}

		.slide-prev {
			left: 23%;
		}

		.slide-next {
			right: 23%;
		}
	}

	#carousel {
		margin-bottom: 30px;
		width: 100%;
		height: 750px;

		img {
			overflow: hidden;
			max-height: 750px;
			-webkit-box-shadow: 0px 0px 38px 0px rgba(107, 55, 139, 0.26);
			-moz-box-shadow: 0px 0px 38px 0px rgba(107, 55, 139, 0.26);
			box-shadow: 0px 0px 38px 0px rgba(107, 55, 139, 0.26);

			&:not(.carousel-center) {
				position: relative;
				filter: brightness(40%);
			}
		}
	}

	.btn-all-photos {

		@include button( 290, 50, 14, 'arrow-right', true );

		margin: 0 auto;
		padding: 18px 0 0 30px;
	}
}

// Media
@media (max-width: 1479px) {

	#carousel {
		zoom: 0.8;
	}
}
@media (max-width: 1199px) {

	#carousel {
		zoom: 0.65;
	}
}
@media (max-width: 992px) {

	#carousel {
		zoom: 0.45;
	}
}
@media (max-width: 699px) {

	.section-photo-gallery {
		display: none;
	}
}