.section-what {
	display: flex;
	height: 100vh;
	max-height: 650px;
	background-color: #fff;
	background: url($path_to_images + 'background_section_what.png') top center no-repeat, #fff;

	.title {
		margin-bottom: 25px;
		font: 40px/1 $font_bold;
		color: #292929;

		span {
			padding-right: 5px;
			font: 20px/1 $font_semi_bold;
		}
	}

	.description {
		margin-bottom: 35px;
		font-size: 16px;
		line-height: 1.7;
		color: #292929;
	}

	.more {
		position: relative;
		padding: 0 25px 10px 0;
		display: inline-block;
		vertical-align: top;
		font: 12px/1 $font_bold;
		color: #292929;
		letter-spacing: 5px;
		text-decoration: none;
		text-transform: uppercase;
		text-shadow: 3px 4px 0px #fdd147;

		&:before, &:after {
			content: "";
			position: absolute;
			display: block;
		}

		&:before {
			left: 0;
			bottom: 0;
			width: 123px;
			height: 2px;
			background-color: #292929;
			transition: .3s;
		}

		&:after {
			top: 3px;
			right: 0;
			width: 14px;
			height: 6px;
			background: url($path_to_images + 'sprite.png') -180px -1px no-repeat;
		}

		&:hover {
			
			&:before {
				background-color: #fff;
			}
		}
	}

	img {
		margin: 0 auto;
		display: block;
		max-width: 100%;
	}
}

// Media
@media (max-width: 992px) {

	.section-what {
		padding: 30px 0;
		display: block;
		height: auto;
		max-height: 100%;

		.title {
			text-align: center;
		}

		.more {
			margin-bottom: 35px;
		}
	}
}