.section-services {
	position: relative;
	margin: 0 auto 125px auto;
	padding-top: 85px;
	max-width: 1920px;

	&:before, &:after {
		content: "";
		position: absolute;
		left: 0;
		display: block;
		width: 100%;
		height: 2px;
	}

	&:before {
		top: 0;
		background: url($path_to_images + 'broken_line_1.png') top center repeat-x;
	}

	&:after {
		bottom: 0;
		background: url($path_to_images + 'broken_line_2.png') top center repeat-x;
	}

	.services-main {
		padding-bottom: 75px;
		display: flex;
		justify-content: space-between;

		a {
			position: relative;
			display: block;
			width: 100%;
			height: 555px;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			background-size: cover;

			&:before, &:after {
				content: "";
				position: absolute;
				display: block;
				height: 100%;
				transition: .3s;
			}

			&:before {
				top: 0;
				left: 0;
				width: 100%;
				background: url($path_to_images + 'background_service_item.png') 0 0 no-repeat;
				background-size: cover;
			}

			&:after {
				border-top: 2px solid #775693;
				border-bottom: 2px solid #775693;
			}

			&.service-left {
				max-width: 945px;
				border-radius: 0 3px 3px 0;

				&:before {
					border-radius: 0 3px 3px 0;
				}

				&:after {
					top: 8px;
					left: 0;
					width: 99%;
					border-right: 2px solid #775693;
					border-radius: 0 3px 3px 0;
				}
			}

			&.service-right {
				margin-left: 40px;
				max-width: 935px;
				border-radius: 3px 0 0 3px;

				&:before {
					border-radius: 3px 0 0 3px;
				}

				&:after {
					top: -8px;
					left: -8px;
					width: 101%;
					border-left: 2px solid #775693;
					border-radius: 3px 0 0 3px;
				}
			}

			&:hover {

				img {
					opacity: 0;
				}

				&:before {
					background: none;
				}

				&:after {
					border-color: #fdd147;
				}
			}

			img {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
				display: block;
				max-width: 100%;
				transition: .3s;
			}
		}
	}

	.more {

		@include button( 350, 50, 14, 'arrow-right', true );

		position: absolute;
		left: -10px;
		right: 0;
		bottom: -25px;
		margin: auto;
		padding: 18px 0 0 30px;
	}
}

// Media
@media (max-width: 1649px) {

	.section-services {

		.services-main {

			a {
				height: 455px;
			}
		}
	}
}
@media (max-width: 1349px) {

	.section-services {

		.services-main {

			a {
				height: 355px;

				img {
					max-width: 75%;
				}
			}
		}
	}
}
@media (max-width: 1199px) {

	.section-services {

		.services-main {

			a {
				height: 255px;

				img {
					max-width: 50%;
				}
			}
		}
	}
}
@media (max-width: 959px) {

	.section-services {

		.services-main {
			flex-wrap: wrap;
			
			a {
			
				&:after {
					display: none;
				}

				&.service-left {
					max-width: 100%;
					margin-bottom: 30px;
				}

				&.service-right {
					max-width: 100%;
					margin-left: 0;
				}

				img {
					max-width: 100%;
				}
			}
		}
	}
}
@media (max-width: 479px) {

	.section-services {
		margin-bottom: 80px;
		padding-top: 45px;
		
		.more {
			left: 0;
			font-size: 12px;
		}
	}
}