.slide-prev, .slide-next, .slide-autoplay {
	position: absolute;
	z-index: 101;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	background-color: #fdd147;
	cursor: pointer;
	transition: .3s;

	&:before, &:after {
		content: "";
		position: absolute;
		display: block;
	}

	&:before {
		top: -4px;
		left: -4px;
		width: 50px;
		height: 50px;
		border: 2px solid #fff;
		border-radius: 50px;
		background-color: transparent;
	}

	&:hover {
		background-color: rgba(253, 209, 71, 0.6);
	}
}

.slide-prev, .slide-next {

	&:after {
		top: 13px;
		left: 16px;
		width: 10px;
		height: 15px;
		background: url($path_to_images + 'sprite.png') no-repeat;
	}
}

.slide-prev {

	&:after {
		background-position: -36px 0;
	}
}

.slide-next {

	&:after {
		background-position: -48px 0;
	}
}

.slide-autoplay {

	&.play {

		&:after {
			top: 14px;
			left: 18px;
			width: 10px;
			height: 15px;
			border: 8px solid transparent;	
			border-left: 8px solid #323232;
		}
	}

	&.pause {

		&:after {
			top: 16px;
			left: 15px;
			width: 12px;
			height: 14px;
			background: url($path_to_images + 'sprite.png') -237px -26px no-repeat;
		}
	}
}