.social {
	margin-right: 50px;
	font-size: 0;

	li {
		display: inline-block;
		vertical-align: top;

		&:not(:last-child) {
			margin-right: 10px;
		}

		&.viber {

			a {

				&:before {
					width: 14px;
					height: 14px;
					background-position: -145px -1px;
				}
			}

			&:hover {

				a {

					&:before {
						background-position: -162px -1px;
					}
				}
			}
		}

		&.telegram {

			a {

				&:before {
					width: 16px;
					height: 14px;
					background-position: -127px 0;
				}
			}

			&:hover {

				a {

					&:before {
						background-position: -110px 0;
					}
				}
			}
		}

		&.instagram {

			a {

				&:before {
					width: 14px;
					height: 12px;
					background-position: -75px 0;
				}
			}

			&:hover {

				a {

					&:before {
						background-position: -60px 0;
					}
				}
			}
		}

		&.facebook {

			a {

				&:before {
					width: 8px;
					height: 13px;
					background-position: -100px 0;
				}
			}

			&:hover {

				a {

					&:before {
						background-position: -90px 0;
					}
				}
			}
		}
	}

	a {
		position: relative;
		display: block;
		width: 40px;
		height: 40px;
		background-color: transparent;
		border: 2px solid rgba(255, 255, 255, 0.6);
		border-radius: 40px;
		text-decoration: none;
		transition: .3s;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			display: block;
			background: url($path_to_images + 'sprite.png') no-repeat;
		}

		&:hover {
			border-color: rgb(255, 255, 255);
		}
	}
}