.user-content {
	line-height: 1.7;

	&.with-bottom {
		margin-bottom: 100px;
	}

	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
		padding: 0;
		margin: 20px 0;
	}

	h1, h2, h3, h4, h5, h6, strong, b, .h1, .h2, .h3, .h4, .h5, .h6 {
		font-family: $font_bold;
		line-height: 1.3;
		font-weight: normal;
		color: #292929;
		text-transform: uppercase;
	}

	h1, .h1{
		font-size: 30px;
	}
	
	h2, .h2{
		font-size: 28px;
	}

	h3, .h3{
		font-size: 26px;
	}

	h4, .h4{
		font-size: 24px;
	}

	h5, .h5{
		font-size: 22px;
	}

	h6, .h6{
		font-size: 20px;
	}

	p {
		margin: 20px 0;
		font: 14px/1.7 $font_medium;
		color: #292929;
	}

	ul {
		margin: 10px 0 0 15px;

		li {
			position: relative;
			margin-bottom: 10px;
			padding-left: 20px;

			&:before {
				content: "";
				position: absolute;
				top: 5px;
				left: 0;
				display: block;
				width: 10px;
				height: 10px;
				border: 2px solid #292929;
			}
		}
	}
	
	ol {
		margin: 10px 0 0 25px;
		padding: 0;
		list-style-type: decimal;

		li {
			margin-bottom: 10px;
		}
	}
	
	table {
		width: 100% !important;
		
		td {
			padding: 20px;
			border: 1px solid #292929;
		}
	}
}